/* You can add global styles to this file, and also import other style files */
.ant-descriptions-item-label{
    font-weight: bold;
    color: inherit;
  }
  
.inner-content2{
    color: #080E94;

 }
    .ant-descriptions-item-label-colon{
    font-weight: bold;
}
.ant-breadcrumb-separator{
    color: #EB984E;
}