@media screen and (max-width:800px) {
    .left, .main, .right {
      width:100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }
  .layout {
      min-height: 100vh;
      font: bold;
    }
  
    nz-header {
      position: absolute;
      width: 100%;
      height: 120px;
      background: #fff;
      text-align: left;
      line-height: 0.7;
      word-spacing: 5px;
    }
  
    nz-content {
      padding: 0 50px;
      margin-top: 64px;
      
    }
    .inner-content {
      background: #fff;
      padding: 400px;
      min-height: 150;
      border: #CACFD2 1px solid;
      text-align: left;
      line-height: 0.7;
      word-spacing: 10px;
      height: 600px;
    }
    .inner-content2{
      background: #fff;
      border: #CACFD2 1px solid;
      height: 15%;
      position: absolute;
      top: 180px;
      left: 70px;
      right: 70px;
      text-align: left;
      line-height: 0.7;
      word-spacing: 10px;
    }
    
    nz-breadcrumb {
      margin: 16px 0;
    }
  
    .inner-content {
      background: #fff;
      padding: 24px;
      min-height: 380px;
    }
  
    nz-footer {
      text-align: center;
    }
   nz-breadcrumb-item,nz-breadcrumb [nzSeparator] {
  color: #EB984E;
    }
  
  
    input{
      border-style: outset;
      border-radius: 10px;
      border-bottom: 4px solid #EB984E;
    }
    h4{
      color: #080E94;
    }
    nz-modal{
      height: 200px;
      width: 50%;
    }    
  
  [nz-button]{
    border-color: coral;
    color: #EB984E;
    background: #fff;
    border-radius: 10px;
    left: 370px;
    top: 0px;
  }
  
    nz-button-group [nz-button] {
      position: absolute;
      top: 60px;
      left: 1255px;
      margin-right: 0;
      border: #fff;
    }
    .btn2{
      border-color: #EB984E;
      color: #EB984E;
      background: #fff;
      border-radius: 10px;
      left: 1200px;
      top: 6.5px;
    }
    .btn3{
      border-color: #EB984E;
      color: #EB984E;
      background: #fff;
      border-radius: 10px;
      left: 1200px;
      top: 20px;
    }
  
    nz-descriptions-item [nzTitle]{
        color: blue;
    }
  
    [nz-breadcrumb]{
      color:#EB984E ;
    }
    h5{
      color: #080E94;
      font-size: 1.3em;
    }
  
    [nzTitle]{
  color: black;
  font: bold;
  font: size 90px;
    }
   
   .icon2{
     position: absolute;
     left: 1210px;
     top: 65px;
   }
   .icon3{
    position: absolute;
    left: 1210px;
    top: 35px;
  }
  
  p{
    color:#080E94 ;
  }
  